.AboutHeroSection {
  padding-top: 18px;
}

.AboutHeroSectionRow {
  width: 100%;
}

.AboutHeroSectionAccent {
  background: var(--heading-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
